<form *ngIf="userService.hasRole(roles.epicRead) ||userService.hasRole(roles.epicCrud)" class="" (ngonsubmit)="ngOnInit()">
  <h4>Epic</h4>
  <div *ngIf="userService.hasRole(roles.epicCrud)" class="form-group row">
    <div class="col-lg-1 col-lg-10">
      <a [routerLink]="['/epic/edit', 0]">
        <input type="submit" value="Create new Epic" class="btn btn-primary" />
      </a>
    </div>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Assignee</th>
        <th>Reporter</th>
        <th>Priority</th>
        <th>Name</th>
        <th>Description</th>
        <th>Due Date</th>
        <th *ngIf="userService.hasRole(roles.epicCrud)"></th>
        <th></th>
        <th *ngIf="userService.hasRole(roles.epicCrud)"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let epic of dataSource">
        <td>
          <shared-user-name [userId]="epic.assignee"></shared-user-name>
        </td>
        <td>
          <shared-user-name [userId]="epic.reporter"></shared-user-name>
        </td>
        <td>{{GetPriority(epic.priority)}}</td>
        <td>{{epic.name}}</td>
        <td>{{epic.description}}</td>
        <td class="mw-120">{{datepipe.transform(epic.dueDate, 'yyyy-MM-dd') }}</td>
        <td *ngIf="userService.hasRole(roles.epicCrud)">
          <a [routerLink]="['/epic/edit', epic.id]">
            <input type="submit" value="Edit" class="btn btn-primary">
          </a>
        </td>
        <td>
          <a [routerLink]="['/epic/details', epic.id]">
            <input type="submit" value="Details" class="btn btn-primary">
          </a>
        </td>
        <td *ngIf="userService.hasRole(roles.epicCrud)">
          <input type="button" (click)="Delete(epic.id)" value="Delete" class="btn btn-danger">
        </td>
      </tr>
    </tbody>
  </table>
</form>
