<!--<div class="app">-->
  <div class="chat col-sm-9 col-xs-12" appChatResizer>
    <div class="chat-resize-panel" id="resizePanel"></div>
    <div class="chat-container" id="scrollContainer">
      <div *ngFor="let mes of chatService.msgs">
        <div class="chat-item">
          {{mes}}
        </div>
      </div>
    </div>
    <div class="chat-controls">
      <div class="chat-controls-textarea">
        <textarea class="chat-controls-textarea-text-field" [(ngModel)]="text" (keydown.enter)="send()"></textarea><!--(keydown.enter)="onEnter($event)"-->
      </div>
      <div class="chat-controls-buttons">
        <button type="submit" class="btn btn-primary" (click)="send()">Отправить</button>
      </div>
    </div>
  </div>
<!--</div>-->
