<h1>АСУ</h1>

<div *ngIf="service.isAuth">
  <p>Добро пожаловать, {{service.User?.userName}} <a [routerLink]='["/"]' (click)="logOut()">[Выход]</a></p>
  <p>Хорошего дня</p>
</div>

<div *ngIf="!service.isAuth">
  <p>Добро пожаловать.</p>
  <ul>
    <li><a [routerLink]='["/login"]'>Войдите</a></li>
    <li>или <a [routerLink]='["/register"]'>Зарегистрируйтесь</a>
  </ul>
</div>

<div>
  <div>
    Issue - это задача. Когда ты что-то делаешь, должна быть задача (создай). Если проводится встреча, создается issue с соответствующим типом, в описание заносится резюме встречи и все участники списывают время на эту задачу
  </div>
  <div>
    Epic - это группировка задач. Через эпики можно отслеживать прогресс по задачам. В эпики напрямую можно списывать время, например, на какие-то административные вещи, но желательно все же списывать именно на задачи
  </div>
  <div>
    Списывать время очень важно. Это позволяет вести учет сколько уже денег потрачено на проект. Так же спустя какое-то время уже начинаешь забывать, чем занимался. Поэтому на списание времени есть жесткие органичения:
    <ul>
      <li>Время списывается за текущий день. Есть послабление, можно списать за предыдущий день, но надо стараться списывать время сразу</li>
      <li>Единовременно требуется списывать не более 4 часов. Поработал до обеда, зафиксируй результат и возникшие проблемы, иначе забудешь</li>
      <li>Периоды списаний не должны пересекаться</li>
      <li>Нельзя работать более 10 часов, это запрещено</li>
    </ul>
  </div>
</div>
