<nav [class.active]="isExpanded" id="sidebar">

  <div class="sidebar-header">
    <h3>ASU</h3>
  </div>

  <ul class="list-unstyled components">
    <!--<p>Dummy Heading</p>-->
    <!--<li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Home 1</a>
        </li>
        <li>
          <a href="#">Home 2</a>
        </li>
        <li>
          <a href="#">Home 3</a>
        </li>
      </ul>
    </li>-->
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]='["/"]'>Home</a>
    </li>
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{ exact: false }">
      <a [routerLink]='["/issue"]'>Issue</a>
    </li>
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{ exact: false }">
      <a [routerLink]='["/epic"]'>Epic</a>
    </li>
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{ exact: false }">
      <a [routerLink]='["/sprint"]'>Sprint</a>
    </li>
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]="{ exact: false }">
      <a [routerLink]='["/rolemanagement"]'>Role Management</a>
    </li>
  </ul>

</nav>
