<form class="form-horizontal" [formGroup]="epicForm" (ngSubmit)="onSubmit()">
  <h4>{{this.epicForm.value['id'] || 0 > 0 ? 'Update ' : 'Create new '}}Issue</h4>
  <hr>

  <div class="form-group">
    <label class="col-md-2 control-label" for="name">Name*</label>
    <div class="col-md-6">
      <input class="form-control" type="text" formControlName="name" />
      <form-validation [model]="epicForm.controls['name']" fieldName="name"></form-validation>
    </div>
    <label class="col-md-2 control-label" for="dueDate">Due Date*</label>
    <div class="col-md-2">
      <input class="form-control" type="date" formControlName="dueDate" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="assignee">Assignee</label>
    <div class="col-md-2">
      <ngx-select [allowClear]="true"
                  [items]="profiles" optionValueField="id" optionTextField="userName"
                  formControlName="assignee"
                  placeholder="Select assignee">
      </ngx-select>
    </div>
    <label class="col-md-2 control-label" for="reporter">Reporter*</label>
    <div class="col-md-2">
      <ngx-select [items]="profiles" optionValueField="id" optionTextField="userName"
                  formControlName="reporter"
                  placeholder="Select reporter">
      </ngx-select>
      <form-validation [model]="epicForm.controls['reporter']" fieldName="reporter"></form-validation>
    </div>
    <label class="col-md-2 control-label" for="priority">Priority*</label>
    <div class="col-md-2">
      <ngx-select [items]="epicPriority" optionValueField="id" optionTextField="name"
                  formControlName="priority"
                  placeholder="Select epic priority">
      </ngx-select>
      <form-validation [model]="epicForm.controls['priority']" fieldName="priority"></form-validation>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="description">Description</label>
    <div class="col-md-10">
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <a [routerLink]='["/epic/list"]'>
        <input type="submit" value="{{this.epicForm.value['id'] || 0 > 0 ? 'Update' : 'Create'}}" class="btn btn-primary" (click)='onSubmit()'>
      </a>
      <a [routerLink]='["/epic/list"]'>
        <input type="submit" value="<- to epic list" class="btn btn-primary">
      </a>
    </div>
  </div>
</form>
