<h4>Role Management</h4>
<div>
  <ngx-select [items]="profiles" optionValueField="id" optionTextField="userName"
              (ngModel)="userId"
              placeholder="Select user"
              (select)="userSelected($event)">
  </ngx-select>
</div>
<br />

<div *ngIf="!!userId">
  <div *ngFor="let group of roleGroups">
    <div>
      <button class="btn btn-link" (click)="CheckAllOptions(group)">Выбрать все ({{group}})</button>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let role of getRolesByGroupCode(group)">
          <td style="width:30px;"><input id="chbox-{{role.id}}" type="checkbox" [(ngModel)]="role.checked"></td>
          <td><label for="chbox-{{role.id}}">{{role.summary}}</label></td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-primary" (click)="saveRoles()">Сохранить</button>
</div>


