<div class="col-md-offset-3 col-md-6">

  <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h4>Use a local account to log in.</h4>
    <hr>
    <div class="form-group row">
      <label class="col-md-4 control-label" for="login">Login, Email or Phone</label>
      <div class="col-md-8">
        <input class="form-control" type="text" id="login" formControlName="login" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 control-label" for="password">Password</label>
      <div class="col-md-8">
        <input class="form-control" type="password" id="password" formControlName="password" />
        <form-validation [model]="loginForm.controls['password']" fieldName="password"></form-validation>
      </div>
    </div>
    <div class="form-group row">
      <div class="mx-auto col-md-1">
        <input type="submit" value="Log in" class="btn btn-primary"><!--[disabled]="!loginForm.valid"-->
      </div>
    </div>
  </form>
</div>
