@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.app-content-container  {
  overflow: auto;
}
.app-content-chat {
  border-top: 1px solid #5d5a5a;
  height: 30vh;
}
