@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.app-content {
  position: relative;
}

.app-content-container {
  overflow: auto;
}

.app-content-chat {
  border-top: 1px solid #5d5a5a;
  height: 30vh;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  /*margin-top:30px;*/
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

