form {
  padding-right: 40px;
}

textarea {
  min-height: 120px;
}

.fa {
  width: 20px;
  height: 20px;
  background-color: red;
}

.select-img-type > label > input:checked ~ .checkmark {
  border: 2px solid #2196F3 !important;
}

.select-img-type .checkmark {
  display: inline-block;
  cursor: pointer;
  padding: 2px;
  border: 2px solid transparent;
  margin: 3px;
}

.select-img-type > label > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/*.alert {*/
/*  position: sticky;*/
/*  bottom: 10px;*/
/*}*/
/*.alert .btn-close {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  z-index: 2;*/
/*  padding: 1.25rem 1rem;*/
/*}*/
