<form class="form-horizontal" [formGroup]="sprintForm" (ngSubmit)="onSubmit()">
  <h4>{{this.sprintForm.value['id'] || 0 > 0 ? 'Update ' : 'Create new '}}Sprint</h4>

  <hr>

  <!--<input class="form-control" type="text" formControlName="Id" />

  <input class="form-control" type="hidden" formControlName="IsEnded" />-->

  <div class="form-group">
    <label class="col-md-2 control-label" for="startDate">Date Start*</label>
    <div class="col-md-10">
      <input class="form-control" type="date" formControlName="startDate" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="finishDate">Date Finish*</label>
    <div class="col-md-10">
      <input class="form-control" type="date" formControlName="finishDate" />
      <div *ngIf="!sprintForm.controls['finishDate'].pristine && sprintForm.hasError('DateLessThan')" class="error-msg">
        <div class="text-danger">Finish date must be greater than StartDate</div>
      </div>
    </div>
  </div>

</form>
