<form class="form-horizontal" [formGroup]="issueForm" (ngSubmit)="onSubmit()">
  <h4>Edit Issue</h4>
  <hr>
  <div class="form-group">
    <label class="col-md-2 control-label" for="assignee">Assignee</label>
    <div class="col-md-10">
      <ngx-select [allowClear]="true"
                  [items]="profiles" optionValueField="id" optionTextField="userName"
                  formControlName="assignee"
                  placeholder="Select assignee">
      </ngx-select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reporter">Reporter*</label>
    <div class="col-md-10">
      <ngx-select [items]="profiles" optionValueField="id" optionTextField="userName"
                  formControlName="reporter"
                  placeholder="Select reporter">
      </ngx-select>
      <form-validation [model]="issueForm.controls['reporter']" fieldName="reporter"></form-validation>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="symmary">Summary*</label>
    <div class="col-md-10">
      <input class="form-control" type="text" formControlName="summary" />
    </div>
    <form-validation [model]="issueForm.controls['summary']" fieldName="summary"></form-validation>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="description">Description</label>
    <div class="col-md-10">
      <input class="form-control" type="text" formControlName="description" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="type">Type*</label>
    <div class="col-md-10">
      <ngx-select [items]="issueTypes" optionValueField="id" optionTextField="name"
                  formControlName="type"
                  placeholder="Select issue type">
      </ngx-select>
      <form-validation [model]="issueForm.controls['type']" fieldName="type"></form-validation>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="status">Status*</label>
    <div class="col-md-10">
      <ngx-select [items]="issueStatus" optionValueField="id" optionTextField="name"
                  formControlName="status"
                  placeholder="Select issue status">
      </ngx-select>
      <form-validation [model]="issueForm.controls['status']" fieldName="status"></form-validation>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="priority">Priority*</label>
    <div class="col-md-10">
      <ngx-select [items]="issuePriority" optionValueField="id" optionTextField="name"
                  formControlName="priority"
                  placeholder="Select issue priority">
      </ngx-select>
      <form-validation [model]="issueForm.controls['priority']" fieldName="priority"></form-validation>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="assigneeEstimatedTime">Assignee Estimated Time</label>
    <div class="col-md-10">
      <input class="form-control" type="number" step="0.01" min="0" max="100" formControlName="assigneeEstimatedTime" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="reporterEstimatedTime">Reporter Estimated Time</label>
    <div class="col-md-10">
      <input class="form-control" type="number" step="0.01" min="0" max="100" formControlName="reporterEstimatedTime" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="dueDate">Due Date</label>
    <div class="col-md-10">
      <input class="form-control" type="date" formControlName="dueDate" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="epicLink">Epic Link</label>
    <div class="col-md-10">
      <input class="form-control" type="text" formControlName="epicLink" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Update" class="btn btn-primary">
      <a [routerLink]='["/issue/list"]' (click)='collapse()'>
        <input type="submit" value="<<to issues list" class="btn btn-primary">
      </a>
    </div>
  </div>
</form>
