<form class="form-horizontal" [formGroup]="issueForm" (ngSubmit)="onSubmit()">
  <h4>{{this.issueForm.value['id'] || 0 > 0 ? 'Update ' : 'Create new '}}Issue</h4>

  <hr>
  <div class="form-group row">
    <label class="col-md-2 control-label" for="summary">Summary*</label>
    <div class="col-md-10">
      <input class="form-control" type="text" formControlName="summary" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 control-label" for="assignee">Assignee</label>
    <div class="col-md-2">
      <ngx-select [allowClear]="true"
                  [items]="profiles" optionValueField="id" optionTextField="userName"
                  formControlName="assignee"
                  placeholder="Select assignee">
      </ngx-select>
    </div>
    <label class="col-md-2 control-label" for="reporter">Reporter*</label>
    <div class="col-md-2">
      <ngx-select [items]="profiles" optionValueField="id" optionTextField="userName"
                  formControlName="reporter"
                  placeholder="Select reporter">
      </ngx-select>
      <form-validation [model]="issueForm.controls['reporter']" fieldName="reporter"></form-validation>
    </div>
    <label class="col-md-2 control-label" for="estimatedTime">Size</label>
    <div class="col-md-2">
      <ngx-select [items]="issueSize" optionValueField="id" optionTextField="name"
                  formControlName="size"
                  placeholder="Select issue size">
      </ngx-select>
      <form-validation [model]="issueForm.controls['size']" fieldName="size"></form-validation>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 control-label" for="type">Type*</label>
    <div class="col-md-2">
      <div class="select-img-type">
        <label>
          <input type="radio" formControlName="type" value="0" [checked]="getCheckedType(0)" />
          <shared-enums-icon-type [type]="0" class="checkmark"></shared-enums-icon-type>
        </label>

        <label>
          <input type="radio" formControlName="type" value="1" [checked]="getCheckedType(1)" />
          <shared-enums-icon-type [type]="1" class="checkmark"></shared-enums-icon-type>
        </label>

        <label>
          <input type="radio" formControlName="type" value="2" [checked]="getCheckedType(2)" />
          <shared-enums-icon-type [type]="2" class="checkmark"></shared-enums-icon-type>
        </label>

        <label>
          <input type="radio" formControlName="type" value="3" [checked]="getCheckedType(3)" />
          <shared-enums-icon-type [type]="3" class="checkmark"></shared-enums-icon-type>
        </label>

        <label>
          <input type="radio" formControlName="type" value="4" [checked]="getCheckedType(4)" />
          <shared-enums-icon-type [type]="4" class="checkmark"></shared-enums-icon-type>
        </label>
      </div>
      <form-validation [model]="issueForm.controls['type']" fieldName="type"></form-validation>
    </div>
    <label class="col-md-2 control-label" for="priority">Priority*</label>
    <div class="col-md-2">
      <ngx-select [items]="issuePriority" optionValueField="id" optionTextField="name"
                  formControlName="priority"
                  placeholder="Select issue priority">
      </ngx-select>
      <form-validation [model]="issueForm.controls['priority']" fieldName="priority"></form-validation>
    </div>
    <label class="col-md-2 control-label" for="dueDate">Due Date</label>
    <div class="col-md-2">
      <input class="form-control" type="date" formControlName="dueDate" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 control-label" for="description">Description</label>
    <div class="col-md-10">
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 control-label" for="epicLink">Epic Link</label>
    <div class="col-md-10">
      <ngx-select [items]="epics" optionValueField="id" optionTextField="name"
                  formControlName="epicLink"
                  placeholder="Select epic">
      </ngx-select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="{{this.issueForm.value['id'] || 0 > 0 ? 'Update ' : 'Create'}}" [disabled]="!userService.hasRole(currentRole())"  class="btn btn-primary mr-2">
      <a [routerLink]='["/issue/list"]'>
        <input type="submit" value="<<to issues list" class="btn btn-primary">
      </a>
    </div>
  </div>
</form>
