<div class="form-horizontal">
    <h4>
      Epic {{epic?.name}}
      <a [routerLink]="['/epic/edit', epic?.id]">
        <input type="submit" value="Edit" class="btn btn-primary">
      </a>
    </h4>

  <div class="row">
    <div class="col-md-3">
      <label for="assignee">Assignee</label>
      <shared-user-name [userId]="epic.assignee"></shared-user-name>
    </div>

    <div class="col-md-3">
      <label for="reporter">Reporter</label>
      <shared-user-name [userId]="epic.reporter"></shared-user-name>
    </div>

    <div class="col-md-3">
      <label for="priority">Priority</label>
      {{GetPriority(epic?.priority)}}
    </div>

    <div class="col-md-3">
      <label for="priority">Due Date</label>
      {{datepipe.transform(epic?.dueDate, 'yyyy-MM-dd')}}
    </div>
  </div>

  <div class="row">
    <textarea class="col-md-12" rows="10" disabled="disabled">{{epic?.description}}</textarea>
  </div>

</div>
