<div class="wrapper">
  <shared-nav-menu style="display:flex"></shared-nav-menu>
  <div id="content">
    <div class="d-flex">
<!--      <top-nav></top-nav>-->
<!--      <shared-nav-tabs class="bg-light"></shared-nav-tabs>-->
    </div>
    <router-outlet></router-outlet>
<!--    <app-chat-window class="chat"></app-chat-window>-->
  </div>
</div>
<!--<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-2'>
      <shared-nav-menu></shared-nav-menu>
    </div>
    <div class='col-sm-10 body-content app-content'>

      <shared-nav-tabs></shared-nav-tabs>

      <router-outlet></router-outlet>
      <app-chat-window class="chat"></app-chat-window>
    </div>
  </div>
</div>-->
